@import url("https://fonts.googleapis.com/css?family=Muli:wght@400;700&display=swap");


* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    font-family: 'Muli', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}


#main {
    display: block;
    align-items: center;
    justify-content: center;
}

.form-control {
    display: block;
    align-items: center;
    justify-content: center;
}

.form-control input{
    padding: 20px;
    position: absolute;
}

.form-control label{
    position: relative;
    left: 10%;
    color: #333;
}

.text a{
    color: inherit;
    text-decoration: none;
}

