<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../assets/styles.css">
    <link rel="icon" href="../assets/icons/Banner 2.png">
</head>
<body>

    <section id="main">
        <div class="container">
            <form method="POST">
            
            <input type="text" name="name" placeholder="Name" class="credsinput">
            <input type="password" name="password" placeholder="Password" class="credsinput">
            <button type="submit" class="loginBtn">Login</button>
            </form>
        </div>



    </section>


    <script src="../assets/script.js"></script>
</body>
</html>