<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/loginstyles.css') }}">
    <link rel="icon" type="image/png" href="../assets/icons/Banner 2.png">
</head>

<body>
    <section id="main">
        <h1 class="lgn-header">Please Login</h1>
        <form method="POST">
            <div class="form-control">
                <input type="text" name="name"required>
                <label>Email</label>
            </div>

            <div class="form-control">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button class="btn">Login</button>
            <p class="text">Don't have an account? <a href="../templates/register.html">Register</a></p>
        </form>
    </section>

    <script src="{{ url_for('static', filename='scripts/loginscripts.js') }}"></script>
</body>

</html>